body {
  margin: 0;
  text-align: center;
  font-family: 'Delius Swash Caps', cursive;
  font-size: 20px;
}

p {
  line-height: 2;
}

h1 {
  font-size: 562.5%;
  margin-top: 0;
  font-family: 'Staatliches', cursive;
  margin-bottom: 0;
}

h2 {
  font-family: 'DM Serif Text', serif;
}

h3 {
  font-family: 'Delius Swash Caps', cursive;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #A6E3E9;
  border-width: 6px;
  width: 5%;
}

a {
  color: #A6E4E7;
  font-family: 'DM Serif Text', serif;
  margin: 10px 20px;
  text-decoration: none;
}

.programmer {
  margin-top: 0;
}

.top-container {
  background-color: #E3FDFD;
  margin-top: 0;
  padding-top: 60px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 390px;
  bottom: 320px;
  width: 480px;
  height: 280px;
}

.top-cloud {
  position: absolute;
  right: 440px;
  top: 200px;
  width: 480px;
  height: 280px;
}

.mountain {
  width: 450px;
  height: 450px;
}

.alotko {
  width: 200px;
  height: 200px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 15%;
  float: left;
  margin-right: 5px;
}

.code-img2 {
  width: 15%;
  float: left;
  margin-right: 5px;
}

.btn {
  background: #CCF2F4;
  background-image: -webkit-linear-gradient(top, #CCF2F4, #A4EBF3);
  background-image: -moz-linear-gradient(top, #CCF2F4, #A4EBF3);
  background-image: -ms-linear-gradient(top, #CCF2F4, #A4EBF3);
  background-image: -o-linear-gradient(top, #CCF2F4, #A4EBF3);
  background-image: linear-gradient(to bottom, #CCF2F4, #A4EBF3);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'DM Serif Text', serif;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #CAF7E3;
  background-image: -webkit-linear-gradient(top, #CAF7E3, #EDFFEC);
  background-image: -moz-linear-gradient(top, #CAF7E3, #EDFFEC);
  background-image: -ms-linear-gradient(top, #CAF7E3, #EDFFEC);
  background-image: -o-linear-gradient(top, #CAF7E3, #EDFFEC);
  background-image: linear-gradient(to bottom, #CAF7E3, #EDFFEC);
  text-decoration: none;
}

.footer-link:hover {
  color: #CCF2F4;
}

.copyright{
  color: #F4F9F9;
  font-size: 0.75rem;
  padding: 20px 0;
}
